<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script type="text/javascript" src="js/vendor/helpers/pace.min.js"></script>
    <script type="text/javascript" src="js/vendor/d3/d3.min.js"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:400,200">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
    html, body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    </style>
    <title>404</title>
</head>

<body data-hijacking="off" data-animation="parallax">

    <section class="cd-section visible" data-vide-bg="video/bg">
        <div class="col-xs-1 left-col-spacing"></div>
        <div class="col-xs-10">
            <div class="title-container">
                <h1 class="title">404</h1>
            </div>
        </div>
    </section>

<script src="js/vendor/velocity/velocity.min.js"></script>
<script src="js/vendor/velocity/velocity.ui.min.js"></script>
<script src="js/parallax.js"></script>
</body>

</html>
