<!doctype html>


<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/flat-ui.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- FlatUI -->
    <!-- <script src="js/vendor/jquery.min.js"></script> -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    
    <title>HDX Monitor</title>
</head>
<body>
    <header class="cd-header">
        <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
        <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
        </a>
    </header> <!-- .cd-header -->
    
    <main>

        <h1>DataTeam Monitor</h1>

    </main>
    
    <nav class="cd-3d-nav-container">
        <ul class="cd-3d-nav">
            <li class="cd-selected">
                <a href="/">Dashboard</a>
            </li>

            <li>
                <a href="#0">Users</a>
            </li>

            <li>
                <a href="#0">Organizations</a>
            </li>

            <li>
                <a href="/datastore">DataStores</a>
            </li>

            <li>
                <a href="#0">Settings</a>
            </li>
        </ul> <!-- .cd-3d-nav -->

        <span class="cd-marker color-1"></span> 
    </nav> <!-- .cd-3d-nav-container -->

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <script src="js/create-ui.js"></script>

</body>
</html>




