<!doctype html>

<html lang="en" class="no-js" ng-app='Monitor'>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HDX Monitor</title>

  <!--

  STYLES: ==============================================

  Here we are loading all of our styles. It includes
  the Raleway font from Google Fonts, Bootstrap (3+),
  Font Awesome, and the FlatUI CSS.

  The style.css file includes the main custom styles
  developed for this application.

  ======================================================

  -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/flat-ui/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="libs/c3/c3.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <header class="cd-header">

        <!--

        SERVICE ALERT: =============================================

        Here we are calling a specific controller that functions
        only to display information to the user about the current
        service status. At the moment, it is only capable of checking
        the online status of a single service. The service id has
        to be passed as a variable called `service`.

        ============================================================

        -->
        <div class="service-status-container" ng-controller="StatusAlertController as status">
            <script> var service = 'ageservice' </script>
            <a class="status-icon" href="#" ng-init="status.check('ageservice')" id='status-alert'></a>
            <div class="alert-container" id="alert-container"></div>
        </div>

        <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
        </a>

    </header>

    <!--

    NAVIGATION MENU: ============================================

    TODO: Navigation menu should have a controller. The menu
    should be dynamically generated and not statically as below.
    Consider this a placeholder.

    =============================================================

    -->
    <nav class="cd-3d-nav-container">
        <ul class="cd-3d-nav">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>

            <li>
                <a href="/users">Users</a>
            </li>

            <li>
                <a href="/organizations">Organizations</a>
            </li>

            <li class="cd-selected">
                <a href="#0">DataStores</a>
            </li>

            <li>
                <a href="/settings">Settings</a>
            </li>
        </ul>

        <span class="cd-marker color-1"></span>
    </nav>


    <!--

    CATEGORY PODS: =============================================

    The section controlled by the DashboardController creates
    a series of "pods" that list all the datets categorized by the
    aging service.

    TODO: Create dynamically `pod-column`. At the moment those
    are statically created. This is an elegance point and would
    add little value overall.

    ============================================================

    -->

    <main ng-controller="DashboardController as dashboard">

        <h1>Freshness Dashboard</h1>

            <div class="pod-container">
                <div class="pod-column">
                    <div class="pod border-delinquent">
                        <div class="pod-header">
                            <div class="pod-state bg-delinquent">
                                <span class="pod-state-title">Delinquent</span>
                            </div>
                            <div class="pod-name">
                                <span class="ember-view">
                                  <span ng-show="dashboard.success"> {{ dashboard.delinquent.length }} </span>
                                  Datasets
                                </span>
                            </div>
                        </div>

                        <div class="pod-body">

                          <div class="pod-info"
                            ng-repeat="dataset in dashboard.delinquent | orderBy: '-downloads'"
                            ng-mouseover="dashboard.hoverIn(dataset)"
                            ng-mouseleave="dashboard.hoverOut(dataset)"
                            ng-controller="ModalController as modal"
                            ng-click="modal.open(dataset); modal.fetch(dataset.dataset_id); modal.checked(dataset)"
                            style="cursor:pointer;">


                              <div class="pod-info-dataset-title">
                                  <span class="pod-info-dataset-index">#{{ $index + 1 }}</span> {{ dataset.dataset_title }}
                              </div>

                              <div ng-show="dataset.checked" class="pod-info-user-checked">
                                <span class="fa fa-check"></span>
                              </div>

                              <div class="pod-info-assets">

                                <span class="pod-info-downloads">
                                  <b>{{ dataset.downloads }}</b> downloads
                                </span>

                                <span class="pad-info-last-edit" ng-show="dataset.hover_last_updated">
                                  Last edited <span am-time-ago="dataset.last_updated"></span>.
                                </span>

                                <span class="pod-info-age">
                                  <b>{{ dataset.age }}</b> days
                                  <span class="label label-frequency" style="text-fransform:uppercase;">{{ dataset.frequency_label }}</span>
                                </span>

                              </div>

                          </div>

                         </div>

                    </div>
                </div>
                <div class="pod-column">
                    <div class="pod border-overdue">
                        <div class="pod-header">
                            <div class="pod-state bg-overdue">
                                <span class="pod-state-title">Overdue</span>
                            </div>
                            <div class="pod-name">
                                <span class="ember-view">
                                  <span ng-show="dashboard.success"> {{ dashboard.overdue.length }} </span>
                                  Datasets
                                </span>
                            </div>
                        </div>

                        <div class="pod-body">

                         <div class="pod-info"
                           ng-repeat="dataset in dashboard.overdue | orderBy: '-downloads'"
                           ng-mouseover="dashboard.hoverIn(dataset)"
                           ng-mouseleave="dashboard.hoverOut(dataset)"
                           ng-controller="ModalController as modal"
                           ng-click="modal.open(dataset); modal.fetch(dataset.dataset_id); modal.checked(dataset)"
                           style="cursor:pointer;">

                            <div class="pod-info-dataset-title">
                                <span class="pod-info-dataset-index">#{{ $index + 1 }}</span> {{ dataset.dataset_title }}
                            </div>

                            <div ng-show="dataset.checked" class="pod-info-user-checked">
                              <span class="fa fa-check"></span>
                            </div>

                            <div class="pod-info-assets">

                              <span class="pod-info-downloads">
                                <b>{{ dataset.downloads }}</b> downloads
                              </span>

                              <span class="pad-info-last-edit" ng-show="dataset.hover_last_updated">
                                Last edited <span am-time-ago="dataset.last_updated"></span>.
                              </span>

                              <span class="pod-info-age">
                                <b>{{ dataset.age }}</b> days
                                <span class="label label-frequency" style="text-fransform:uppercase;">{{ dataset.frequency_label }}</span>
                              </span>

                            </div>

                        </div>

                      </div>
                    </div>

                </div>

                <div class="pod-column">
                    <div class="pod border-due">
                        <div class="pod-header">
                            <div class="pod-state bg-due">
                                <span class="pod-state-title">Due</span>
                            </div>
                            <div class="pod-name">
                                <span class="ember-view">
                                  <span ng-show="dashboard.success"> {{ dashboard.due.length }} </span>
                                  Datasets
                                </span>
                            </div>
                        </div>

                        <div class="pod-body">

                          <div class="pod-info"
                            ng-repeat="dataset in dashboard.due | orderBy: '-downloads'"
                            ng-mouseover="dashboard.hoverIn(dataset)"
                            ng-mouseleave="dashboard.hoverOut(dataset)"
                            ng-controller="ModalController as modal"
                            ng-click="modal.open(dataset); modal.fetch(dataset.dataset_id); modal.checked(dataset)"
                            style="cursor:pointer;">

                              <div class="pod-info-dataset-title">
                                  <span class="pod-info-dataset-index">#{{ $index + 1 }}</span> {{ dataset.dataset_title }}
                              </div>

                             <div ng-show="dataset.checked" class="pod-info-user-checked">
                               <span class="fa fa-check"></span>
                             </div>

                              <div class="pod-info-assets">

                                <span class="pod-info-downloads">
                                  <b>{{ dataset.downloads }}</b> downloads
                                </span>

                                <span class="pad-info-last-edit" ng-show="dataset.hover_last_updated">
                                  Last edited <span am-time-ago="dataset.last_updated"></span>.
                                </span>

                                <span class="pod-info-age">
                                  <b>{{ dataset.age }}</b> days
                                  <span class="label label-frequency" style="text-fransform:uppercase;">{{ dataset.frequency_label }}</span>
                                </span>

                              </div>

                         </div>

                       </div>

                    </div>

                </div>

                <div class="pod-column">
                    <div class="pod border-uptodate">
                        <div class="pod-header">
                            <div class="pod-state bg-uptodate">
                                <span class="pod-state-title">Up-to-Date</span>
                            </div>
                            <div class="pod-name">
                                <span class="ember-view">
                                  <span ng-show="dashboard.success"> {{ dashboard.uptodate.length }} </span>
                                  Datasets</span>
                            </div>
                        </div>

                        <div class="pod-body">

                         <div class="pod-info"
                           ng-repeat="dataset in dashboard.uptodate | orderBy: '-downloads'"
                           ng-mouseover="dashboard.hoverIn(dataset)"
                           ng-mouseleave="dashboard.hoverOut(dataset)"
                           ng-controller="ModalController as modal"
                           ng-click="modal.open(dataset); modal.fetch(dataset.dataset_id); modal.checked(dataset)"
                           style="cursor:pointer;">

                            <div class="pod-info-dataset-title">
                                <span class="pod-info-dataset-index">#{{ $index + 1 }}</span> {{ dataset.dataset_title }}
                            </div>

                            <div ng-show="dataset.checked" class="pod-info-user-checked">
                              <span class="fa fa-check"></span>
                            </div>

                            <div class="pod-info-assets">

                              <span class="pod-info-downloads">
                                <b>{{ dataset.downloads }}</b> downloads
                              </span>

                              <span class="pad-info-last-edit" ng-show="dataset.hover_last_updated">
                                Last edited <span am-time-ago="dataset.last_updated"></span>.
                              </span>

                              <span class="pod-info-age">
                                <b>{{ dataset.age }}</b> days
                                <span class="label label-frequency" style="text-fransform:uppercase;">{{ dataset.frequency_label }}</span>
                              </span>

                            </div>
                        </div>

                      </div>


                    </div>
                </div>

            </div>

            <div class="pod-container">

            <div class="pod-column-archived">
                <div class="pod border-archived">
                    <div class="pod-header">
                        <div class="pod-state bg-archived">
                            <span class="pod-state-title">Archived</span>
                        </div>
                        <div class="pod-name-archived">
                            <span class="ember-view">
                              <span ng-show="dashboard.success"> {{ dashboard.archived.length }} </span>
                              Datasets
                            </span>
                            <div class="pod-archive-search-bar">
                              <input type="text" class="form-control login-field" value="" ng-model="searchText" placeholder="Search">
                            </div>
                        </div>
                    </div>

                    <div class="pod-body">

                      <div class="pod-info"
                        ng-repeat="dataset in dashboard.archived | filter:searchText"
                        ng-mouseover="dashboard.hoverIn(dataset)"
                        ng-mouseleave="dashboard.hoverOut(dataset)"
                        ng-controller="ModalController as modal"
                        ng-click="modal.open(dataset); modal.fetch(dataset.dataset_id); modal.checked(dataset)"
                        style="cursor:pointer;">

                          <div class="pod-info-dataset-title">
                              {{ dataset.dataset_title }}
                          </div>

                          <div ng-show="dataset.checked" class="pod-info-user-checked">
                            <span class="fa fa-check"></span>
                          </div>

                          <div class="pod-info-assets">

                            <span class="pod-info-downloads">
                              <b>{{ dataset.downloads }}</b> downloads
                            </span>

                            <span class="pad-info-last-edit" ng-show="dataset.hover_last_updated">
                              Last edited <span am-time-ago="dataset.last_updated"></span>.
                            </span>

                            <span class="pod-info-age">
                              <b>{{ dataset.age }}</b> days
                              <span class="label label-frequency" style="text-fransform:uppercase;">{{ dataset.frequency_label }}</span>
                            </span>

                          </div>
                      </div>

                    </div>

                </div>
            </div>

            </div>

        </body>

    </main>

    <!--

    DEPENDENCIES: ==============================================

    Dependencies include the latest version of AngularJS.
    A number of dependencies necessary for the some elements
    of the UI (i.e. FlatUI). Finally, it loads the Angular-based
    modules and controllers that the application needs.

    ============================================================

    -->

    <!-- FlatUI dependencies -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="libs/flat-ui/dist/js/flat-ui.min.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <script src="js/create-ui.js"></script>

    <!-- Charting dependencies. -->
    <script src="libs/d3/d3.min.js"></script>
    <script src="libs/c3/c3.min.js"></script>

    <!-- Angular -->
    <script src="libs/angular/angular.min.js"></script>

    <!-- Angular dependencies. -->
    <script src="libs/ngprogress/build/ngprogress.min.js"></script>
    <script src="libs/moment/moment.js"></script>
    <script src="libs/angular-moment/angular-moment.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/showdown/compressed/Showdown.min.js"></script>
    <script src="libs/angular-markdown-directive/markdown.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- modules -->
    <script src="modules/app.js"></script>

    <!-- controllers -->
    <script src="controllers/status_alert.js"></script>
    <script src="controllers/dashboard.js"></script>

    <!--

    MODAL TEMPLATE: ===========================================

    Here is available the modal template.
    It displays information about the dataset in question,
    as well as provides the following options for users
    to take action:

      - Visit the dataset on HDX.
      - Email the dataset maintainer (as specified in HDX metadata).
      - Change the frequency of a dataset.

    Soon a chart will be generated that displays the activity
    stream of the dataset in question.

    NOTE: If it fails it will show an error message.

    TODO: Load this template from the file system.

    ============================================================

    -->

    <script type="text/ng-template" id="test.html">

      <div class="modal-header">
        <h3 class="modal-title" ng-show="{{ !dataset.success }}">Error!</h3>
        <h3 class="modal-title" ng-show="{{ dataset.success }}">{{ dataset.result.title }}</h3>
      </div>

      <div class="modal-body" ng-show="{{ dataset.success }}">

        <div class="row">
          <div class="col-xs-8">
            <p ng-show="{{ dataset.success }} " btf-markdown="dataset.result.notes"></p>
          </div>
          <div class="col-xs-4 modal-numbers">
            <p>
              PRORITY <span class="modal-priority-number">#{{ dataset.result.priority + 1 }}</span>
            </p>
            <br />
            <p>
              <span class="modal-stats-number">{{ dataset.result.tracking_summary.total }}</span> DOWNLOADS
            </p>
            <p class="modal-stats-number">
              <br />
              <span class="label label-danger" ng-show="{{ dataset.success }}"> {{ dataset.result.age }} days {{ dataset.result.age_status }} </span>
            </p>
          </div>
        </div>

        <div ng-show="{{ dataset.success }}">
          <h4><b>Activity Stream</b></h4>
          <div id="activity-bar-chart"></div>
        </div>

      </div>

      <div class="modal-body" ng-show="{{ !dataset.success }}">
        <p>{{ dataset.message }}</p>
      </div>

      <div ng-show="{{ dataset.success }}" class="modal-footer">
          <a class="btn btn-primary" type="button" ng-click="visit()">View Dataset</a>
          <a class="btn btn-primary" type="button" ng-click="email()">Email Maintainer</a>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Change Frequency <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(0)">0</a></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(7)">7</a></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(14)">14</a></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(30)">30</a></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(45)">45</a></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(60)">60</a></li>
              <li role="separator" class="divider"></li>
              <li><a style="cursor:pointer;" ng-click="dashboard.change_frequency(365)">365</a></li>
            </ul>
          </div>
      </div>

    </script>

  </body>

</html>
