<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script type="text/javascript" src="js/vendor/helpers/pace.min.js"></script>
    <script type="text/javascript" src="js/vendor/d3/d3.min.js"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:400,200">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    </style>
    <title>HDX Monitor</title>
</head>
<style>
</style>

<body data-hijacking="off" data-animation="parallax">

    <section class="cd-section visible" data-vide-bg="video/bg">
        <!-- <div class="top-bar"></div> -->
        <div class="col-xs-1 left-col-spacing"></div>
        <div class="col-xs-10">
            <div class="title-container">
                <h1 class="title">HDX MONITOR</h1>
            </div>
        </div>
    </section>

    <section class="cd-section">
      <div class="container" style="heigth:100%;">
        <div class="cd-form">
            <div class="col-md-12">
                    <div class="col-md-4">
                        <img class="login-logo" src="img/monitor_logo.svg">
                    </div>
                    <div class="col-md-8">
                    <form class="cd-form floating-labels" action="/signup" method="post" novalidate>
                        <fieldset>
                            <div class="icon">
                                <label class="cd-label" for="cd-email">Email</label>
                                <input class="email" type="email" name="email" id="cd-email" required>
                            </div>
                            <div class="icon">
                                <label class="cd-label" for="cd-password">Password</label>
                                <input class="password" type="password" name="password" id="cd-password" required>
                            </div>

                            <div>
                                <input type="submit" value="Signup">
                            </div>
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
            <div class="cd-form signup-footer">
                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Source code on <a href="http://github.com/luiscape/hdx-monitor-server">GitHub</a>.</p>
                <hr>
            </div>
    </div>
    </section>

    <nav>
        <ul class="cd-vertical-nav">
            <li><a href="#0" class="cd-prev inactive">Next</a></li>
            <li><a href="#0" class="cd-next">Prev</a></li>
        </ul>
    </nav>
<script src="js/vendor/velocity/velocity.min.js"></script>
<script src="js/vendor/velocity/velocity.ui.min.js"></script>
<script src="js/parallax.js"></script>
</body>

</html>
